<?xml version="1.0"?>
<!--
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_MultiWishlist
 * @author     Extension Team
 * @copyright  Copyright (c) 2017-2018 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Wishlist\Controller\Index\Send" type="Bss\MultiWishlist\Controller\Index\Send"/>
    <preference for="Magento\Wishlist\Controller\Shared\Allcart" type="Bss\MultiWishlist\Controller\Shared\Allcart"/>
    <!-- Fix bug logout account: https://github.com/magento/magento2/pull/16386 -->
    <preference for="Magento\Customer\Model\Plugin\CustomerFlushFormKey" type="Bss\MultiWishlist\Plugin\Customer\Model\Plugin\FixCustomerFlushFormKey"/>

    <!-- end add item wishlist to cart -->
    <type name="Magento\Wishlist\Block\Share\Wishlist">
        <plugin name="bss_multiwishlist_plugin_shared_item" type="Bss\MultiWishlist\Plugin\Wishlist\Share\Item"/>
    </type>
</config>
