<?xml version="1.0"?>
<!--/**
 * Magento Snowfall extension
 *
 * @category   Magecomp
 * @package    Magecomp_Snowfall
 * @author     Magecomp Snowfall
 */-->
<config>
	<tabs>
        <magecomp translate="label">
            <label><![CDATA[<img src="http://www.magecomp.com/media/images/magecomp--extension.png" alt="MAGECOMP" height="15" style="vertical-align:middle;"/>]]></label>
            <sort_order>50</sort_order>
        </magecomp>
    </tabs>
	<sections>
		<snowfall translate="label" module="snowfall">
			<class>separator-top</class>
			<label>Snowfall</label>
			<tab>magecomp</tab>
			<frontend_type>text</frontend_type>
			<sort_order>40</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<snowfall_group translate="label" module="snowfall">
					<label>Snowfall Settings</label>
					<frontend_type>text</frontend_type>
					<sort_order>100</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<snowfall_number translate="label comment">
							<label>Number of Snowfall</label>
							<comment>Recommended: 20-50</comment>
							<frontend_type>text</frontend_type>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</snowfall_number>
						<snowfall_colors translate="label comment">
							<label>Color(s) of Snowfall</label>
							<comment>CSS values: #e6f2ff, #eee, silver</comment>
							<frontend_type>text</frontend_type>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</snowfall_colors>
						<snowfall_text translate="label comment">
							<label>Letter(s) that create Snowfall</label>
							<comment>Unicode characters like &#x2744; &#10053; &#10054; &#9733; &#9734; or any text</comment>
							<frontend_type>text</frontend_type>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</snowfall_text>
						<snowfall_speed translate="label comment">
							<label>Speed of Snowfall</label>
							<comment>Recommended: 1 to 5</comment>
							<frontend_type>text</frontend_type>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</snowfall_speed>
						<snowfall_minsize translate="label comment">
							<label>Minimum flake size</label>
							<comment>Default: 10</comment>
							<frontend_type>text</frontend_type>
							<sort_order>5</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</snowfall_minsize>
						<snowfall_maxsize translate="label comment">
							<label>Maximum flake size</label>
							<comment>Default: 50</comment>
							<frontend_type>text</frontend_type>
							<sort_order>6</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</snowfall_maxsize>
					</fields>
				</snowfall_group>
			</groups>
		</snowfall>
	</sections>
</config>